<hr style="border: 3px solid; background-color: black;">

<h2>Creating a Service!</h2>
<p>Observable && Subscribe Using HTTP Requests</p>
<p>Fetching data from an Open API, A Pokemon API!</p>

<h2>Voglio andare dove mi va ... e non fermarmi quà!</h2>

<p>Questo viaggio mi porterà</p>
<p>Da tutti i pokemons!!</p>
<p>Girovagando per il mondo, con la mia sfera viaggerò</p>
<p>E tutti i pokemons così catturerò.. <strong>eh eh !!</strong> [Plagio a Vasco Rossi]</p>

<ul>
    <li *ngFor="let pokemon of pokemons">
        {{ pokemon.name }}
    </li>
</ul>