<h1>
  The Dragon Legend 🐉! 
</h1>

<h2>Angular - Modularity of JS Framework 🦅</h2>
<p>Hunting down the others FMs || Libraries .. 🦌</p>

<div>
  <p><bold>Module_A</bold></p>
  Components:
  <ul>
    <li>Component_A1</li>
    <li>Component_A2</li>
    <li>Component_A3</li>
  </ul>
  
  Imports:
  <!-- No other modules imported -->
  
  Exports:
  <!-- If you want these components to be available outside of Module_A, they should be exported. -->

  <p><bold>Module_B</bold></p>
  Components:
  <ul>
    <li>Component_B1</li>
    <li>Component_B2</li>
    <li>Component_B3</li>
  </ul>
  
  Imports:
  <!-- No other modules imported -->
  
  Exports:
  <!-- If you want these components to be available outside of Module_B, they should be exported. -->

  <p><bold>AppModule (Main Module)</bold></p>
  Components:
  <ul>
    <li>AppComponent (usually the root component)</li>
  </ul>
  
  Imports:
  <ul>
    <li>Module_A (importing the entire Module_A)</li>
    <li>Module_B (importing the entire Module_B)</li>
  </ul>
</div>

<hr>
<h2>Router-outlet</h2>
<hr>

<p>
  The <bold>router-outlet</bold> directive in Angular acts as a placeholder where the router should display the component for the current route. It's like a dynamic component loader controlled by the router.

    When you navigate between routes, Angular removes the previous component and inserts the new component in place of the <bold>router-outlet</bold>. This allows you to switch between different parts of your application without a full page reload.
    
    Here's a simple example:
    
    Let's say you have two routes: /home and /about.
    Both routes are tied to two separate components: HomeComponent and AboutComponent.
    When a user navigates to /home, the HomeComponent will be loaded and displayed where the <bold>router-outlet</bold> is located in your main app template.
    When the user navigates to /about, the HomeComponent will be removed, and the AboutComponent will be loaded and displayed in the same spot.
</p>

<router-outlet></router-outlet>
